.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
    i {
        width: 40px;
        height: 40px;
        color: $color-4;
        text-align: center;
        line-height: 40px;
        background: rgba(0, 0, 0, 0.6);
        transition: .5s;
    }
    &:hover{
        i{
            color: $color-0;
            background-color: $color-1;
        }
    }
    &:focus{
        i{
            color: $color-0;
        }        
    }
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
