.orange{
    padding: $sp-1 $sp-5;
    margin-bottom: $sp-1;
    @include stylytext ($color-4,$fs-0 - 1, $fw-1);
    background-color: $color-1;
    border: none;
    transition: .5s;
    &:hover{
        background-color: $color-6;
    }
}

.dark{
    padding: $sp-1 $sp-5;
    margin-bottom: $sp-1;
    @include stylytext ($color-4,$fs-0 - 1, $fw-1);
    background-color: $color-6;
    border: none;
    transition: .5s;
    &:hover{
        background-color: $color-1;
    }
}