.bgHover{
    transition: .5s;
    &:hover{
        background-color: $color-1;
        color: $color-4;
    }
}

// DISPLAY
.d__none{    
    .d__block{
        display: none;
        transition: .5s;
    }
    &:hover{
        .d__block{
            display: block;
        }
    }
}